//footer
.footer{
    background-color: #97A2AD;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 50px;
    height: 230px;
    border: 1px solid red;
  }
  
  input{
    height: 43px;
    border-radius: 5.5px;
    width: 90%;
    color: #97A2AD;
    font-size: 16px;
  }
  
  .footer .formBlock{
    width: 30%;
    border: 1px solid red;
    padding-top: 60px;
    margin-left: 4%;
  }
  
  .footer .address{
    width: 15%;
    border: 1px solid red;
    padding-top: 60px;
    margin-right: 4%;
  }
  
  .address .addressP, .formBlock .form{
    font-size: 1.4rem;
    line-height: 26px;
    color: #ffffff;
  }
  
  
//copyright

.copyright{
  display: flex;
  justify-content: center;
  background-color: #97a2ad;
}
.copyright .copyR {
  font-size: 1.1rem;
 color:#ffffff;
}